<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="interkassa-verification" content="7641413e77aab6ab0c93b2ddf8ca41c5" />
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
        <title>Payment TEST</title>
	<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="css/dist/style.main.css"/>
        <link rel="stylesheet" href="css/dist/media-queries.css"/>
        <style type="text/css">
            .read_more {
                width: 250px;
                font-size: 16px;
                padding: 10px 5px;
                border: 1px solid #cecece;
                background: #F6F6f6;
                border-radius: 25px;
                border: 1px solid transparent;
                font-family: "Montserrat",sans-serif;
                color: white;
                background-color: #ff4e50;
                text-transform: uppercase;
            }
            .read_more:hover {
                background-color: #F06C6E;
            }
	    .header__btn-box {
                padding: 15px 0 0 0;
            }
        </style>
    </head>
    <body>
        <div class="wrapper">
            <header>
                <div class="header__login">
                    <a href="#" class="header__login__link">Log in</a>
                    <a href="#" class="header__login__link">Sign up</a>
                </div>
                <h2 class="header__logo">PAYMENTS</h2>
                <h1 class="header__name">BEST PAYWAYS</h1>
                <p class="header__text">CHOSE YOUR PAYMENT METHOD</p>
                <div class="header__btn-box">
		<form id="paymentForm" name="payment" method="post" action="https://sci.interkassa.com/" accept-charset="UTF-8">
                     <input type="hidden" name="ik_co_id" value="5cc46dbf3b1eafa81e8b4567">
                     <input type="hidden" name="ik_pm_no" value="ID_423365">
                     <input type="hidden" name="ik_am" value="1000">
                     <input type="hidden" name="ik_cur" value="KZT">
                     <input type="hidden" name="ik_payment_method" value="mobile">
                     <input type="hidden" name="ik_payment_currency" value="KZT">
                     <input type="hidden" name="ik_act" value="process">
                     <input type="hidden" name="ik_int" value="json">
		     <input type="hidden" name="ik_customer_first_name" value="John">
                     <input type="hidden" name="ik_customer_last_name" value="Test">
		     <input type="hidden" name="ik_customer_email" value="mail1@mail.com">
		     <input type="hidden" name="ik_customer_phone" value="7780309456">
                     <input type="hidden" name="ik_desc" value="payment description">
		     <input type="hidden" name="ik_x_browser_accept_header" value="application%2Fjson%2Ctext%2Fplain%2C*%2F*">
		     <input type="hidden" name="ik_x_browser_color_depth" value="24">
		     <input type="hidden" name="ik_x_browser_ip_address" value="34.88.156.98">
		     <input type="hidden" name="ik_x_browser_java_enabled" value="false">
		     <input type="hidden" name="ik_x_browser_language" value="ru">
		     <input type="hidden" name="ik_x_browser_screen_height" value="900">
		     <input type="hidden" name="ik_x_browser_screen_width" value="1440">
		     <input type="hidden" name="ik_x_browser_time_zone" value="Europe%2FTallinn">
		     <input type="hidden" name="ik_x_browser_time_zone_offset" value="-60">
		     <input type="hidden" name="ik_x_browser_user_agent" value="Mozilla%2F5.0(Macintosh%3BIntelMacOSX10_15_7)AppleWebKit%2F605.1.15(KHTML%2ClikeGecko)Version%2F15.5Safari%2F605.1.15">
                     <input type="submit" value="Test" class="read_more">
                </form>
		</div>
		<div class="header__btn-box">
		<form id="paymentForm1" name="payment" accept-charset="UTF-8">
                <a href="upi://pay?pa=s2p.writebeebrotherspr@finobank&pn=WRITEBEE%20BROTHERSPRIVATE&mc=5691&tr=Fino-64350634&tn=live_transactions&am=500.00&cu=INR&mode=05&orgid=187064&catagory=01&url=https://www.finobank.com/&sign=MEUCIBa0uc9873x9OGIGbtmApgmm8bDrw09u08EhWXDbVmfUAiEA9C5A6cdvUA0IwANHDu8b9JGvCfWsR8LsFZmtMzmZb9U=" >See other partners</a>
                     <input type="submit" value="UPI INR Test" class="read_more">
                </form>
		</div>
		<!-- 
		<div class="header__btn-box">
		<form id="paymentForm1" name="payment" method="post" action="https://sci.interkassa.com/" accept-charset="UTF-8">
                     <input type="hidden" name="ik_co_id" value="5cc46dbf3b1eafa81e8b4567">
                     <input type="hidden" name="ik_pm_no" value="ID_4233651">
                     <input type="hidden" name="ik_am" value="50">
                     <input type="hidden" name="ik_cur" value="PLN">
                     <input type="hidden" name="ik_payment_method" value="blik">
                     <input type="hidden" name="ik_payment_currency" value="PLN">
                     <input type="hidden" name="ik_act" value="process">
                     <input type="hidden" name="ik_int" value="json">
                     <input type="hidden" name="ik_customer_phone" value="+48796958270">
		     <input type="hidden" name="ik_customer_email" value="gigat.1907@outlook.com">
                     <input type="hidden" name="ik_desc" value="payment description">
                     <input type="submit" value="BLIK Test" class="read_more">
                </form>
		</div> -->
	    </header>
          <!-- <main class="content">
                <h2 class="content__title">How it works?</h2>
                <div class="content__box">
                    <ul class="content__slider">
                        <li class="content__slider__item"><img src="img/mobile-hiw1.jpg" alt=""></li>
                        <li class="content__slider__item"><img src="img/mobile-hiw3.jpg" alt=""></li>
                    </ul>
                    <a class="slider__btn-prev" href="#">&#9001;</a>
                    <a class="slider__btn-next" href="#">&#9002;</a>
                    <div class="content__data">
                        <a href="#" class="content__btn">Step 1</a>
                        <h3 class="content__name">Sed leo enim, condimentum</h3>
                        <p class="content__text">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</p>
                    </div>
                </div>
                <div class="content__box">
                    <ul class="content__slider content__slider2 ">
                        <li class="content__slider__item"><img src="img/mobile-hiw2.jpg" alt=""></li>
                        <li class="content__slider__item"><img src="img/mobile-hiw1.jpg" alt=""></li>
                    </ul>
                    <a class="slider__btn-prev" href="#">&#9001;</a>
                    <a class="slider__btn-next" href="#">&#9002;</a>
                    <div class="content__data">
                        <a href="#" class="content__btn">Step 2</a>
                        <h3 class="content__name">Morbi velit risus</h3>
                        <p class="content__text">Nulla venenatis tempor dui in molestie.<br> Nulla quis dictum purus, sit amet porttitor est.</p>
                    </div>
                </div>
                <div class="content__box">
                    <ul class="content__slider content__slider3">
                        <li class="content__slider__item"><img src="img/mobile-hiw3.jpg" alt=""></li>
                        <li class="content__slider__item"><img src="img/mobile-hiw2.jpg" alt=""></li>
                    </ul>
                    <a class="slider__btn-prev" href="#">&#9001;</a>
                    <a class="slider__btn-next" href="#">&#9002;</a>
                    <div class="content__data">
                        <a href="#" class="content__btn">Step 3</a>
                        <h3 class="content__name">Sed leo enim, condimentum</h3>
                        <p class="content__text">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</p>
                    </div>
                </div>
            </main> 
            <div class="partners">
                <h2 class="partners__title">Meet a partner for your best holiday</h2>
                <figure class="partners__box">
                    <img src="img/partner1.png" alt="foto" class="partners__photo">
                    <img src="img/partnertv-icon.png" alt="icon" class="partners__icon">
                    <figcaption>
                        <p class="partners__name">Bradley Hunter</p>
                        <p class="partners__text">Based in Chicago. I love playing tennis and loud music.</p>
                    </figcaption>
                </figure>
                <figure class="partners__box">
                    <img src="img/partner2.png" alt="foto" class="partners__photo">
                    <img src="img/partnerbt-icon.png" alt="icon" class="partners__icon">
                    <figcaption>
                        <p class="partners__name">Lucas Marsha</p>
                        <p class="partners__text">I get my inspiration from nature and objects around me. I have a passion to colours, typography and skateboards.</p>
                    </figcaption>
                </figure>
                <figure class="partners__box">
                    <img src="img/partner3.png" alt="foto" class="partners__photo">
                    <img src="img/partnercup-icon.png" alt="icon" class="partners__icon">
                    <figcaption>
                        <p class="partners__name">Heather Walker</p>
                        <p class="partners__text">I'm a happy person that loves cats and climbing on mountains.</p>
                    </figcaption>
                </figure>
                <figure class="partners__box">
                    <img src="img/partner4.png" alt="foto" class="partners__photo">
                    <img src="img/partnerpl-icon.png" alt="icon" class="partners__icon">
                    <figcaption>
                        <p class="partners__name">Bradley Hunter</p>
                        <p class="partners__text">Based in Chicago. I love playing tennis and loud music.</p>
                    </figcaption>
                </figure>
                <a href="#" class="partners__btn">See other partners</a>
            </div>
            <section class="ideas">
                <h2 class="ideas__title">Discover holiday activity
                    ideas</h2>
                <script type="text/template" id="container">
                    <div class="grid">
                        <% for (var i = 0; i < 8; i++) { %>
                        <figure class="grid-item">
                            <img src="<%= hits[i].webformatURL %>" alt="picture" class="ideas__img"/>
                            <figcaption class="ideas__img--title"><%= hits[i].tags.split(', ')[1] %></figcaption>
                        </figure>
                        <% } %>
                    </div>
                </script>
            </section>
            <section class="search">
                <h2 class="search__title">Discover holiday activity ideas</h2>
                <p class="search__text">Hi! What are your holiday interests?</p>
                    <input type="search" placeholder="Enter your interests" class="search__field"/>
                    <button class="search__btn">Search partners</button>
            </section> -->
            <footer class="footer">
                <div class="footer__wrapper">
                    <h2 class="footer__title">PAYMENTS PRO</h2>
                    <ul class="footer__nav">
                        <li class="footer__nav__item">Company</li>
                        <li class="footer__nav__item"><a href="#" class="footer__nav__link">About</a></li>
                        <li class="footer__nav__item"><a href="#" class="footer__nav__link">Contacts</a></li>
                        <li class="footer__nav__item"><a href="#" class="footer__nav__link">Press</a></li>
                        <li class="footer__nav__item"><a href="#" class="footer__nav__link">Blog</a></li>
                    </ul>
                    <a href="#" class="footer__partners">Partners</a>
                    <div class="footer__logo">
                        <span class="footer__logo__text">Designed by</span>
                        <img src="img/logo.png" alt="logo" class="footer__logo__img">
                    </div>
                </div>
            </footer>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jcarousel/0.3.4/jquery.jcarousel.min.js"></script>
        <script src="js/dist/script.main.js"></script>
 <!-- 
        <script type="text/javascript">
	  (function(d, w, s) {
		var widgetHash = 'd8e12nch6amlgyn39d47', gcw = d.createElement(s); gcw.type = 'text/javascript'; gcw.async = true;
		gcw.src = '//widgets.binotel.com/getcall/widgets/'+ widgetHash +'.js';
		var sn = d.getElementsByTagName(s)[0]; sn.parentNode.insertBefore(gcw, sn);
	  })(document, window, 'script');
	</script>
      <!--   <script type='text/javascript'>
        window['li'+'veT'+'ex'] = true,
        window['li'+'ve'+'Te'+'xID'] = 148807, 
        window['liveT'+'e'+'x_ob'+'ject'] = true;
        (function() {
        var t = document['create'+'Elemen'+'t']('script');
        t.type ='text/javascript';
        t.async = true;
        t.src = '//cs15.l'+'iv'+'et'+'ex'+'.ru/'+'j'+'s/'+'cl'+'ient.js';
        var c = document['getElemen'+'tsBy'+'TagName']('script')[0];
        if ( c ) c['p'+'arent'+'Node']['inser'+'tBefor'+'e'](t, c);
        else document['documen'+'tEleme'+'nt']['first'+'C'+'hild']['appe'+'ndCh'+'ild'](t);
        })();
	</script> -->
<!--  Chatra {literal}  
	<script>
	window.ChatraGroupID = 'ohiLvhJekscTZSpAx';
	    (function(d, w, c) {
		w.ChatraID = 'okKnw7xRBzJLChyEp';
		var s = d.createElement('script');
		w[c] = w[c] || function() {
		    (w[c].q = w[c].q || []).push(arguments);
		};
		s.async = true;
		s.src = 'https://call.chatra.io/chatra.js';
		if (d.head) d.head.appendChild(s);
	    })(document, window, 'Chatra');
	</script>
<!-- /Chatra {/literal} -->
	<script>
        document.addEventListener('DOMContentLoaded', function() {
          var formIds = ['paymentForm', 'paymentForm1', 'paymentForm2'];
          
          formIds.forEach(function(formId) {
            var form = document.getElementById(formId);
            if (form) {
              form.addEventListener('submit', function(event) {
                event.preventDefault(); // Prevent the default form submission

                var formData = new FormData(this);

                fetch(this.action, {
                  method: this.method,
                  body: formData,
                  headers: {
                    'Accept': 'application/json',
                  },
                })
                .then(response => {
                  if (!response.ok) {
                    throw new Error('Network response was not ok');
                  }
                  return response.json();
                })
                .then(data => {
                  console.log('Success:', data); // For debugging purposes
                  if (data.resultCode === 0 && data.resultMsg === "Success") {
                    var actionUrl = data.resultData.paymentForm.action;
                    window.location.href = actionUrl; // Redirect to the provided action URL
                  } else {
                    alert('Payment failed: ' + data.resultMsg);
                  }
                })
                .catch(error => {
                  console.error('Error:', error);
                  alert('An error occurred. Please try again.');
                });
              });
            } else {
              console.error('Form with id "' + formId + '" not found.');
            }
          });
        });
      </script>
    </body>
</html>
