@font-face {
  font-family: "League Gothic Regular";
  src: url('../fonts/LeagueGothic-Regular.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans Light";
  src: url('../fonts/OpenSans-Light.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans Extra-bold";
  src: url('../fonts/OpenSans-ExtraBold.ttf');
  font-weight: bold;
  font-style: normal;
}

.wrapper {
	margin: 0 auto;
	width: 100%;
	min-width: 320px;
	height: inherit;
	position: relative;
	overflow: hidden;
	background-image: url(../img/BG_960.jpg);
	background-position: top center;
}

header {
	margin: 0 auto;
	padding-top: 50px;
	max-width: 960px;
	height: 800px;
}

.menu__item {
	margin: 24px -4% 0 9%;
	display: inline-block;
	list-style: none;
}

.menu__link {
	font-family: "League Gothic Regular", Arial, sans-serif;
	font-size: 24px;
	text-decoration: none;
	color: white;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.menu__link:hover {
	border-bottom: 3px solid #edbfff;
}

.drop-menu {
    display: none;
    margin: 0 auto;
    width: 51%;
}

.drops {
    display: none;
    position: absolute;
    width: 99%;
    top: 48px;
    left: 0;
    background: rgba(59, 46, 67, 0.9);
    border: 1px solid #1c252a;
    box-shadow: 0px 0px 5px #665f67;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: 2;
}

.drop-menu__button {
	margin-top: 1px;
	padding: 8px;
	height: 48px;
    position: relative;
    text-align: center;
    box-sizing: border-box;
}

.drop__link {
    line-height: 1.4;
    border-bottom: 2px solid #edbfff;
}

.drop-menu__button:hover {
	border-bottom: 0.5px solid #edbfff;
    background: rgba(59, 46, 67, 0.9);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    height: 46px;
}

.drop-menu__button:hover .drop__link {
    border-color: transparent;
}

.drop-menu__button:hover .drops {
    display: block;
    z-index: 2;
}

.drop__item {
    display: block;
    box-sizing: border-box;
    position: relative;
    z-index: 2;
    border-bottom: 1px solid #36283e;
    border-top: 1px solid #513d58;
    padding: 8px;
    height: 40px;
    text-align: center;
}

.drop__item:hover {
    border-bottom: 2px solid #edbfff;
    background-color: #2b2231;
    height: 40px;
}

.drop__item:first-child {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.drop__item:last-child {
    border-bottom: none;
}

.drop__item:last-child:hover {
    border-bottom: 2px solid #edbfff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.logo {
	float: left;
	margin-right: 10%;
}

.slider {
	margin: -572px 0 180px 0;
	height: 390px;
	background-color: rgba(0, 0, 0, 0.2);
}

.slider__content {
	margin: 0 auto;
	max-width: 960px;
}

.slider__content__box {
	padding: 79px 0 0 0;
	width: 515px;
	float: left;
}

.slider__h1 {
	font-family: "League Gothic Regular", Arial, sans-serif;
	font-size: 60px;
	color: white;
}

.slider__h2 {
	padding-bottom: 5px;
	font-family: "League Gothic Regular", Arial, sans-serif;
	font-size: 32px;
	color: #edbfff;
}

.slider__p {
	font-family: "OpenSans Light", Arial, sans-serif;
	font-size: 18px;
	color: white;
	line-height: 25px;
}

.iphone {
	margin: -20px 0  0 100px;
	position: absolute;
}

.switch {
	margin: 492px 0 0 195px;
	position: absolute;
}

article {
	background: linear-gradient(to top,#33253a, #745083);
	border-top: 1px solid #33253a;
	overflow: hidden;
}

.block-box {
	margin: 0 auto;
	max-width: 960px;
	color: white;
}

.block {
	margin: 73px -10px 69px 80px;
	width: 250px;
	float: left;
}

.block__item {
	margin-bottom: 10px;
	font-family: "League Gothic Regular", Arial, sans-serif;
	font-size: 30px;
}

.block__text {
	font-family: "OpenSans Light", Arial, sans-serif;
	font-size: 16px;
	line-height: 25px;
	color: #ffffff;
}

.block__link {
	display: block;
	margin: 13px 0 0 150px;
	font-family: "League Gothic Regular", Arial, sans-serif;
	font-size: 18px;
	text-decoration: none;
	color: white;
}

.block__link:hover {
	text-shadow: 0px 0px 10px rgba(255, 255, 255, 1);
}

.block__icon {
	position: absolute;
	margin: -200px 0 0 -55px;
	display: block;
	width: 28px;
	height: 28px;
	background: url(../img/sprite.png) 0 0 no-repeat;
}

.block__icon2 {
	background-position: -30px 0;
}

.block__icon3 {
	background-position: -60px 0;
}

section {
	width: 100%;
	background-color: #f9f9f9;
	overflow: hidden;
}

.section-box {
	margin: 0 auto;
	max-width: 960px;
}

.section__news {
	margin: 100px 10px 90px 0;
	width: 45%;
	height: 300px;
	float: left;
	background: url(../img/foto.png) 0 0 no-repeat;
}

.section__h2 {
	margin: 30px 40px 10px 60px;
	font-family: "League Gothic Regular", Arial, sans-serif;
	font-size: 30px;
	color: #454545;
	text-transform: uppercase;
}

.section__h2__pink {
	color: #edbfff;
}

.section__text {
	margin: 10px 10px 20px 60px;
	font-family: "OpenSans Light", Arial, sans-serif;
	font-size: 16px;
	line-height: 25px;
	color: #454545;
}

.section__switch {
	margin: 395px 0 0 -247px;
	position: absolute;
}

.section__updates {
	margin: 100px 0 90px 0;
	width: 47%;
	float: right;
}

.section__updates__box{
	margin-bottom: 20px;
}

.section__updates__img {
	margin-right: 10px;
	float: left;
}

.section__updates__h2 {
	margin: 30px 40px 20px 0;
	font-family: "League Gothic Regular", Arial, sans-serif;
	font-size: 30px;
	color: #454545;
	text-transform: uppercase;
}

.section__updates__h3 {
	margin: -1px 0 5px 0;
	padding-top: 8px;
	font-family: "OpenSans Extra-bold", Arial, sans-serif;
	font-size: 16px;
}

.section__updates__text {
	font-family: "OpenSans Light", Arial, sans-serif;
	font-size: 16px;
}

.section__logos {
	clear: both;
}

.section__link {
	margin: 25px 0 0 77%;
	display: block;
	font-family: "League Gothic Regular", Arial, sans-serif;
	font-size: 18px;
	text-decoration: none;
	color: #454545;
}
.section__link__2 {
	margin: 25px 0 0 77%;
	display: none;
	font-family: "League Gothic Regular", Arial, sans-serif;
	font-size: 18px;
	text-decoration: none;
	color: #454545;
}

.section__link:hover {
	text-shadow: 0px 0px 10px rgba(184, 184, 241, 1);
}

.section__logos__box {
	margin-top: 500px;
	width: 100%;
	border-top: 1px solid #e6e6e6;
	border-bottom: 1px solid #e6e6e6;
}

.section__logos {
	margin: 0 auto;
	max-width: 960px;
}

.section__logos__img {
	margin: 10px -33px 21px 93px;
}

.comments {
	width: 100%;
	background-color: #ececec;
	overflow: hidden;

}

.comments-box {
	margin: 0 auto;
	max-width: 960px;
}

.comments__column--768{
	display: none;
}

.comments__column {
	margin: 90px 40px 90px 0px;
	float: left;
	overflow: hidden;
}

.comments__text {
	width: 280px;
	height: 158px;
	font-family: "OpenSans Light", Arial, sans-serif;
	font-size: 16px;
	color: #787878;
}

.comments__text__left {
	height: 115px;
}

.comments__text_h3 {
	margin: 15px 0 10px 0;
	font-family: "OpenSans Light", Arial, sans-serif;
	font-size: 16px;
	font-style: italic;
	color: #c5c5c5;
}

.comments__h2 {
	margin-bottom: 25px;
	font-family: "League Gothic Regular", Arial, sans-serif;
	font-size: 30px;
}

footer {
	width: 100%;
	background: url(../img/bg_footer.png) 0 0 no-repeat;
}

footer nav {
	margin: 0 auto;
	max-width: 960px;
	position: relative;
}

.menu--footer .menu__item {
	margin: 35px 30px 40px 0;
}

.menu--footer .menu__link{
	font-family: "League Gothic Regular", Arial, sans-serif;
	font-size: 20px;
	font-weight: normal;
	letter-spacing: 1px;
}

.footer__text__box {
	margin: -55px 0 0 80%;
	position: absolute;
	font-family: "OpenSans Light", Arial, sans-serif;
	font-size: 12px;
	color: white;
}

.footer__text__box span {
	font-family: "OpenSans Extra-bold", Arial, sans-serif;
}
