
body {
    background-color: Gainsboro;
}

/*jcarousel*/

.wrap_jcarousel{
  width: 500px;
  margin: 10px auto;
  position: relative;
}

.jcarousel {
    position: relative;
    overflow: hidden;
}

.jcarousel ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.jcarousel li {

    float: left;
}

.jcarousel-prev, .jcarousel-next{
    position: absolute;
    top: 200px;
    display: block;
    text-decoration: none;
    font-size: 50px;
    font-weight: bold;
    color: gray;
}

.jcarousel-prev{
    left: -50px;
}

.jcarousel-next{
    right: -50px;
}

/*select*/

form {
    width: 500px;
    margin: 0 auto;
    font-size: 14px;
}

.select-box {
    width: 40%;
    float: left;
}

h4 {
    margin: 10px 0px;
    color: #291b33;
}

/*jQuery checkbox*/

.query-checkbox, .css-checkbox {
    width: 30%;
    float: left;
}

.query-checkbox div, .css-checkbox div {
    margin-bottom: 10px;
}

.niceCheck {
    width: 17px;
    height: 17px;
    overflow: hidden;
    display: inline-block;
    background: url(../img/checkbox.png);
    cursor: pointer;
}

.niceChecked {
    background-position: 0 -17px;
}

.query-checkbox input {
    opacity: 0;
}

div {
    margin-bottom: 10px;
}

.niceCheckDisabled {
    background-image: url(../img/checkbox-disabled.png);
}

/*CSS checkbox*/

.cch {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}

.cch-text {
    cursor: pointer;
}

.cch-text:before {
    top: 3px;
    margin-right: 15px;
    width: 17px;
    height: 17px;
    content: ' ';
    display: inline-block;
    position: relative;
    background: url('../img/checkbox.png');
}

.cch:checked + .cch-text::before {
    background-position: 0 -17px;
}

.cch:disabled + .cch-text::before {
    background: url('../img/checkbox-disabled.png');
    background-position: 0 -17px;
}

/* dropMenu */

nav {
    margin: 0 auto;
    padding:10px 0;
    width: 500px;
    background-color:#8A9296;
}

nav ul {
    margin:0;
    padding:0;
    list-style-type:none;
}

nav ul li {
    display:inline-block;
    position:relative;
}

nav li ul {
    top:40px;
    left:0;
    width:200px;
    position:absolute;
    background-color:rgb(225,75,75);
}

nav li li {
    margin:0;
    position:relative;
    display:block;
    background-color:#8F9496;
    z-index:1000;
}

nav li li ul {
    margin:0;
    top:0;
    left:200px;
    position:absolute;
}

nav a {
    margin:0 12px;
    padding:0 12px;
    line-height:40px;
}

nav a {
    display:block;
    text-decoration:none;
    color:#fff;
}

nav a:hover,
nav a:focus,
nav a:active {
    color:rgb(50,50,50);
}

nav li li a {
    margin:0 10px;
    padding:0;
    border-bottom:solid 1px #69B1DB;
}

nav li li:last-child a {
    border-bottom:none;
}

ul.sub-menu {
    display:none;
}

nav li.dropdown > a {
    background-image:url('../img/arrow-down.png');
    background-position:right 20px;
    background-repeat:no-repeat;
}

