body {
    background: gray;
}

div {
    margin: 0 auto;
    background: white;
    width: 800px;
    height: 880px;
}

table {
    border-collapse: collapse;
}

td, th {
    border : 5px solid black;
    width: 100px;
    height: 100px;

}
.ln2 {
    height: 200px;
}

.redbox {
    background: red;
}

.yellowbox {
    background: yellow;
}

.box {
    width: 300px;
    background: black;
}

.border1 {
    height: 200px;
}

.border2 {
    height: 150px;
    background: navy;
}

.border3 {
    width: 200px;
}
